{
  "openapi": "3.0.2",
  "info": {
    "title": "VExpenses - Public API",
    "description": "Public API",
    "contact": {
      "email": "vexpenses@vexpenses.com"
    },
    "version": "V2"
  },
  "externalDocs": {
    "description": "Find out more about VExpenses",
    "url": "https://vexpenses.com/"
  },
  "servers": [
    {
      "url": "https://api.vexpenses.com"
    }
  ],
  "tags": [
    {
      "name": "team members",
      "description": "Operations about team"
    },
    {
      "name": "costs centers",
      "description": "Operations about costs"
    },
    {
      "name": "projects",
      "description": "Operations about projects"
    },
    {
      "name": "approval-flows",
      "description": "Operations about approval flows"
    },
    {
      "name": "reports",
      "description": "Operations about reports"
    },
    {
      "name": "expenses",
      "description": "Operations about expenses"
    },
    {
      "name": "expenses type",
      "description": "Operations about expenses types"
    },
    {
      "name": "currencies",
      "description": "Operations about currencies"
    },
    {
      "name": "advances",
      "description": "Operations about advances"
    }
  ],
  "paths": {
    "/v2/team-members": {
      "get": {
        "tags": [
          "team members"
        ],
        "summary": "Returns an array of team members",
        "operationId": "TeamMembers_List",
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "costsCenters",
                "projects"
              ]
            },
            "description": "Flag used to return related objects,if you want to return multiple relations, you must separate them using comma. e.g.: 'expenses,user'"
          },
          {
            "in": "query",
            "name": "paginate",
            "schema": {
              "type": "boolean"
            },
            "description": "Flag used to indicate if the response must be paginated or not"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "description": "Number of the requested page"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer"
            },
            "description": "Number of elements that will come per page"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "type": "string",
                      "example": "https://api.vexpenses.com/v2/team-members"
                    },
                    "method": {
                      "type": "string",
                      "example": "GET"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Team members successfully sent!"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "team members"
        ],
        "summary": "Inserts a team member object",
        "operationId": "TeamMembers_Create",
        "requestBody": {
          "required": true,
          "description": "Successful operation",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User_Post"
                  },
                  {
                    "required": [
                      "name",
                      "email",
                      "password",
                      "birth_date",
                      "user_type",
                      "external_id"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "type": "string",
                      "example": "https://api.vexpenses.com/v2/team-members"
                    },
                    "method": {
                      "type": "string",
                      "example": "POST"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Team member successfully created!"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/team-members/{id}": {
      "get": {
        "tags": [
          "team members"
        ],
        "summary": "Returns a team member object",
        "operationId": "TeamMembers_Get",
        "parameters": [
          {
            "$ref": "#/components/parameters/idTeamMember"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "type": "string",
                      "example": "https://api.vexpenses.com/v2/team-members/{id}"
                    },
                    "method": {
                      "type": "string",
                      "example": "GET"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Team member successfully sent!"
                    },
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "team members"
        ],
        "summary": "Updates a team member object",
        "operationId": "TeamMembers_Update",
        "requestBody": {
          "required": true,
          "description": "Successful operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User_Post"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/idTeamMember"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "type": "string",
                      "example": "https://api.vexpenses.com/v2/team-members/{id}"
                    },
                    "method": {
                      "type": "string",
                      "example": "PUT"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Team members successfully updated!"
                    },
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/team-members/email/{email}": {
      "get": {
        "tags": [
          "team members"
        ],
        "summary": "Returns a team member object by its email",
        "operationId": "TeamMembers_GetByEmail_ByEmail",
        "parameters": [
          {
            "$ref": "#/components/parameters/emailTeamMember"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "type": "string",
                      "example": "https://api.vexpenses.com/v2/team-members/email/{email}"
                    },
                    "method": {
                      "type": "string",
                      "example": "GET"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Team member successfully sent!"
                    },
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/team-members/parameters": {
      "get": {
        "tags": [
          "team members"
        ],
        "summary": "Returns a parameters collection",
        "operationId": "TeamMembers_GetParameters_Parameters",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "type": "string",
                      "example": "https://api.vexpenses.com/v2/team-members/parameters"
                    },
                    "method": {
                      "type": "string",
                      "example": "GET"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Parameters successfully sent!"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Parameters"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/team-members/{id}/attach-cost-center": {
      "post": {
        "tags": [
          "team members"
        ],
        "summary": "Use this endpoint to attach team-members with cost center",
        "operationId": "TeamMembers_AttachCostCenters_AttachCostCenters",
        "requestBody": {
          "required": true,
          "description": "Successful operation",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cost_center_external_code": {
                    "$ref": "#/components/schemas/cost_center_external"
                  }
                },
                "required": [
                  "cost_center_external_code"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/idTeamMember"
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "costsCenters"
              ],
              "default": "costsCenters"
            },
            "description": "Flag used to return related objects"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "type": "string",
                      "example": "https://api.vexpenses.com/v2/team-members/{id}/attach-cost-center"
                    },
                    "method": {
                      "type": "string",
                      "example": "POST"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Team members successfully linked!"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/User"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "costsCenters": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "array",
                                    "items": {
                                      "$ref": "#/components/schemas/Costs_center"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/team-members/{id}/attach-projects": {
      "post": {
        "tags": [
          "team members"
        ],
        "summary": "Use this endpoint to attach team-members with projects",
        "operationId": "TeamMembers_AttachProjects_AttachProjects",
        "requestBody": {
          "required": true,
          "description": "Successful operation",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_external_code": {
                    "$ref": "#/components/schemas/cost_center_external"
                  }
                },
                "required": [
                  "project_external_code"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/idTeamMember"
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "projects"
              ],
              "default": "projects"
            },
            "description": "Flag used to return related objects"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "type": "string",
                      "example": "https://api.vexpenses.com/v2/team-members/{id}/attach-projects"
                    },
                    "method": {
                      "type": "string",
                      "example": "POST"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Team members successfully linked!"
                    },
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/User"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "projects": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array",
                                  "items": {
                                    "$ref": "#/components/schemas/Project"
                                  }
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/costs-centers": {
      "get": {
        "tags": [
          "costs centers"
        ],
        "summary": "Returns a array of cost centers",
        "operationId": "CostsCenters_List",
        "parameters": [
          {
            "$ref": "#/components/parameters/paginateParameter"
          },
          {
            "$ref": "#/components/parameters/perPageParameter"
          },
          {
            "$ref": "#/components/parameters/pageParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "success": {
                          "type": "boolean"
                        },
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Costs_center"
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "success": {
                          "type": "boolean"
                        },
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Costs_center"
                          }
                        },
                        "current_page": {
                          "type": "integer"
                        },
                        "first_page_url": {
                          "type": "string"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "last_page_url": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "type": "string"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "prev_page_url": {
                          "type": "string"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                },
                "examples": {}
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "costs centers"
        ],
        "summary": "Inserts a center cost object",
        "operationId": "CostsCenters_Create",
        "requestBody": {
          "required": true,
          "description": "Successful operation",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Costs_center_without_id"
                  },
                  {
                    "required": [
                      "name"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/costs-centers"
                        },
                        "method": {
                          "type": "string",
                          "example": "POST"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Costs Centers successfully created!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Costs_center"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/costs-centers/{id}": {
      "get": {
        "tags": [
          "costs centers"
        ],
        "summary": "Returns a center cost object",
        "operationId": "CostsCenters_Get",
        "parameters": [
          {
            "$ref": "#/components/parameters/idCostsCenter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/costs-centers/{id}"
                        },
                        "method": {
                          "type": "string",
                          "example": "GET"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Cost center successfully sent!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Costs_center"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "costs centers"
        ],
        "summary": "Removes a center cost object",
        "operationId": "CostsCenters_Delete",
        "parameters": [
          {
            "$ref": "#/components/parameters/idCostsCenter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "type": "string",
                      "example": "https://api.vexpenses.com/v2/costs-centers/{id}"
                    },
                    "method": {
                      "type": "string",
                      "example": "DELETE"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Cost center successfully removed!"
                    },
                    "data": {
                      "example": null,
                      "nullable": true,
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "costs centers"
        ],
        "summary": "Updates a center cost object",
        "operationId": "CostsCenters_Update",
        "requestBody": {
          "required": true,
          "description": "Successful operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Costs_center_without_id"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/idCostsCenter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "type": "string",
                      "example": "https://api.vexpenses.com/v2/costs-centers/{id}"
                    },
                    "method": {
                      "type": "string",
                      "example": "PUT"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Cost center successfully updated!"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Costs_center"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/projects": {
      "get": {
        "tags": [
          "projects"
        ],
        "summary": "Returns a array of projects",
        "operationId": "Projects_List",
        "parameters": [
          {
            "$ref": "#/components/parameters/paginateParameter"
          },
          {
            "$ref": "#/components/parameters/perPageParameter"
          },
          {
            "$ref": "#/components/parameters/pageParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "success": {
                          "type": "boolean"
                        },
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Project"
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "success": {
                          "type": "boolean"
                        },
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Project"
                          }
                        },
                        "current_page": {
                          "type": "integer"
                        },
                        "first_page_url": {
                          "type": "string"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "last_page_url": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "type": "string"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "prev_page_url": {
                          "type": "string"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                },
                "examples": {}
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "projects"
        ],
        "summary": "Inserts a project object",
        "operationId": "Projects_Create",
        "requestBody": {
          "required": true,
          "description": "Successful operation",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Project_without_id"
                  },
                  {
                    "required": [
                      "name"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/projects"
                        },
                        "method": {
                          "type": "string",
                          "example": "POST"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Projects successfully created!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Project"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/projects/{id}": {
      "get": {
        "tags": [
          "projects"
        ],
        "summary": "Returns a project object",
        "operationId": "Projects_Get",
        "parameters": [
          {
            "$ref": "#/components/parameters/idProject"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/projects/{id}"
                        },
                        "method": {
                          "type": "string",
                          "example": "GET"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Project successfully sent!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Project"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "projects"
        ],
        "summary": "Updates a project object",
        "operationId": "Projects_Update",
        "parameters": [
          {
            "$ref": "#/components/parameters/idProject"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Successful operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Project_without_id"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/projects/{id}"
                        },
                        "method": {
                          "type": "string",
                          "example": "PUT"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Projects successfully updated!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Project"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "projects"
        ],
        "summary": "Removes a project object",
        "operationId": "Projects_Delete",
        "parameters": [
          {
            "$ref": "#/components/parameters/idProject"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "type": "string",
                      "example": "https://api.vexpenses.com/v2/projects/{id}"
                    },
                    "method": {
                      "type": "string",
                      "example": "DELETE"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Project successfully removed!"
                    },
                    "data": {
                      "example": null,
                      "nullable": true,
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/approval-flows": {
      "get": {
        "tags": [
          "approval-flows"
        ],
        "summary": "Returns an array of approval flows",
        "operationId": "ApprovalFlows_List",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/approval-flows"
                        },
                        "method": {
                          "type": "string",
                          "example": "GET"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Approval flows successfully sent!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/Approval-Flow"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "approval-flows"
        ],
        "summary": "Inserts an approval flow object",
        "operationId": "ApprovalFlows_Create",
        "requestBody": {
          "required": true,
          "description": "Approval flow model to be inserted",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Approval-Flow_without_ids"
                  },
                  {
                    "required": [
                      "description",
                      "steps"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/approval-flows"
                        },
                        "method": {
                          "type": "string",
                          "example": "POST"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Approval flows successfully created!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/Approval-Flow"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/approval-flows/{id}": {
      "get": {
        "tags": [
          "approval-flows"
        ],
        "summary": "Returns an approval flow object",
        "operationId": "ApprovalFlows_Get",
        "parameters": [
          {
            "$ref": "#/components/parameters/idApprovalFlow"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/approval-flows/{id}"
                        },
                        "method": {
                          "type": "string",
                          "example": "GET"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Approval flows successfully sent!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/Approval-Flow"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "approval-flows"
        ],
        "summary": "Updates an approval flow object",
        "operationId": "ApprovalFlows_Update",
        "parameters": [
          {
            "$ref": "#/components/parameters/idApprovalFlow"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Approval flow model to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Approval-Flow_without_ids"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/approval-flows/{id}"
                        },
                        "method": {
                          "type": "string",
                          "example": "PUT"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Approval flows successfully updated!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/Approval-Flow"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "approval-flows"
        ],
        "summary": "Removes an approval flow object",
        "operationId": "ApprovalFlows_Delete",
        "parameters": [
          {
            "$ref": "#/components/parameters/idApprovalFlow"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "type": "string",
                      "example": "https://api.vexpenses.com/v2/approval-flows/{id}"
                    },
                    "method": {
                      "type": "string",
                      "example": "DELETE"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Approval flow successfully removed!"
                    },
                    "data": {
                      "example": null,
                      "nullable": true,
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/approval-flows/{id}/attach-cost-centers": {
      "post": {
        "tags": [
          "approval-flows"
        ],
        "summary": "Attachs cost centers to approval flow",
        "operationId": "ApprovalFlows_AttachCostCenters_AttachCostCenters",
        "parameters": [
          {
            "$ref": "#/components/parameters/idApprovalFlow"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Approval-Flow_attach_cost_centers"
                  },
                  {
                    "required": [
                      "cost_centers_ids"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "type": "string",
                      "example": "https://api.vexpenses.com/v2/approval-flows/{id}/attach-cost-centers"
                    },
                    "method": {
                      "type": "string",
                      "example": "POST"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Costs centers were successfully attached to approval flow"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/reports": {
      "get": {
        "tags": [
          "Relatórios"
        ],
        "summary": "Returns an array of reports",
        "operationId": "RelatRios_List",
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "expenses",
                "expenses.apportionment",
                "expenses.expense_type",
                "expenses.gps",
                "expenses.costs_center",
                "user",
                "payment_method",
                "advance",
                "approval",
                "invoice",
                "history"
              ],
              "default": "expenses"
            },
            "description": "Flag used to return related objects,if you want to return multiple relations, you must separate them using comma. e.g.: 'expenses,user'"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/reports"
                        },
                        "method": {
                          "type": "string",
                          "example": "GET"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Reports successfully sent!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "allOf": [
                              {
                                "$ref": "#/components/schemas/Report"
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "expenses": {
                                    "type": "object",
                                    "properties": {
                                      "data": {
                                        "type": "array",
                                        "items": {
                                          "allOf": [
                                            {
                                              "$ref": "#/components/schemas/Expense"
                                            },
                                            {
                                              "type": "object",
                                              "properties": {
                                                "apportionment": {
                                                  "type": "object",
                                                  "properties": {
                                                    "data": {
                                                      "type": "array",
                                                      "items": {
                                                        "$ref": "#/components/schemas/Apportionment"
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          ]
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Relatórios"
        ],
        "summary": "Inserts an report object",
        "operationId": "RelatRios_Create",
        "requestBody": {
          "required": true,
          "description": "Report model to be inserted",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "number",
                    "example": 1234
                  },
                  "external_id": {
                    "type": "string",
                    "example": "a3b52842-2a5a-45cf-a544-9cbee4c8f0e7"
                  },
                  "description": {
                    "type": "string",
                    "example": "Description"
                  },
                  "payment_method_id": {
                    "type": "integer",
                    "example": 123123
                  }
                },
                "required": [
                  "user_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/reports"
                        },
                        "method": {
                          "type": "string",
                          "example": "POST"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Reports successfully created!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Report"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/reports/{id}": {
      "get": {
        "tags": [
          "Relatórios"
        ],
        "summary": "Returns a report object",
        "operationId": "RelatRios_Get",
        "parameters": [
          {
            "$ref": "#/components/parameters/idReport"
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "expenses",
                "expenses.apportionment",
                "expenses.expense_type",
                "expenses.gps"
              ],
              "default": "expenses"
            },
            "description": "Flag used to return related objects,if you want to return multiple relations, you must separate them using comma. e.g.: 'expenses,user'"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/reports/{id}"
                        },
                        "method": {
                          "type": "string",
                          "example": "GET"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Reports successfully sent!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "allOf": [
                              {
                                "$ref": "#/components/schemas/Report"
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "expense": {
                                    "type": "object",
                                    "properties": {
                                      "data": {
                                        "type": "array",
                                        "items": {
                                          "allOf": [
                                            {
                                              "$ref": "#/components/schemas/Expense"
                                            },
                                            {
                                              "type": "object",
                                              "properties": {
                                                "apportionment": {
                                                  "type": "object",
                                                  "properties": {
                                                    "data": {
                                                      "type": "array",
                                                      "items": {
                                                        "$ref": "#/components/schemas/Apportionment"
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          ]
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/reports/status/{status}": {
      "get": {
        "tags": [
          "Relatórios"
        ],
        "summary": "Return reports by status",
        "operationId": "RelatRios_ListByStatus_Status",
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "expenses",
                "user",
                "expenses.apportionment",
                "expenses.expense_type",
                "expenses.costs_center",
                "expenses.payment_method",
                "expenses.gps",
                "advance",
                "payment_method",
                "approval"
              ],
              "default": "expenses"
            },
            "description": "Flag used to return related objects,if you want to return multiple relations, you must separate them using comma. e.g.: 'expenses,user'"
          },
          {
            "name": "status",
            "required": true,
            "in": "path",
            "description": "status of the reports",
            "schema": {
              "type": "string",
              "enum": [
                "ABERTO",
                "APROVADO",
                "REPROVADO",
                "REABERTO",
                "PAGO",
                "ENVIADO"
              ],
              "default": "ABERTO"
            }
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string",
              "default": "approval_date:2021-01-01,2021-03-31;payment_date:2021-01-01;created_at:2021-01-01"
            },
            "description": "Field that you can customize your filter in some columns"
          },
          {
            "in": "query",
            "name": "searchFields",
            "schema": {
              "type": "string",
              "default": "approval_date:between;payment_date:>=;created_at:="
            },
            "description": "Field that you will declare what is the comparator for the columns in the 'search' field, when using between, 2 dates separed by comma are required"
          },
          {
            "in": "query",
            "name": "searchJoin",
            "schema": {
              "type": "string",
              "default": "and"
            },
            "description": "Flag that you will say to the filter what is his connection between the fields of the filter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/reports/status/{status}"
                        },
                        "method": {
                          "type": "string",
                          "example": "GET"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Reports successfully sent!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "allOf": [
                              {
                                "$ref": "#/components/schemas/Report"
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "expenses": {
                                    "type": "object",
                                    "properties": {
                                      "data": {
                                        "type": "array",
                                        "items": {
                                          "allOf": [
                                            {
                                              "$ref": "#/components/schemas/Expense"
                                            },
                                            {
                                              "type": "object",
                                              "properties": {
                                                "apportionment": {
                                                  "type": "object",
                                                  "properties": {
                                                    "data": {
                                                      "type": "array",
                                                      "items": {
                                                        "$ref": "#/components/schemas/Apportionment"
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          ]
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/reports/{id}/approve": {
      "post": {
        "tags": [
          "Relatórios"
        ],
        "summary": "Use this endpoint to approve reports",
        "operationId": "RelatRios_Approve_Approve",
        "parameters": [
          {
            "$ref": "#/components/parameters/idReport"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Object that contains all expenses of the report with their approvements",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "approver": {
                    "type": "integer",
                    "example": 12344
                  },
                  "comment": {
                    "type": "string",
                    "example": "The comment about this approval"
                  },
                  "expenses": {
                    "$ref": "#/components/schemas/cost_center_external"
                  }
                },
                "required": [
                  "approver",
                  "comment"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/reports/{id}/approve"
                        },
                        "method": {
                          "type": "string",
                          "example": "POST"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Report was approved with successfully!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ApprovalResult"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/reports/{id}/pay": {
      "put": {
        "tags": [
          "Relatórios"
        ],
        "summary": "Pay a report object",
        "operationId": "RelatRios_Pay_Pay",
        "parameters": [
          {
            "$ref": "#/components/parameters/idReport"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Payment date of the report model to be paid",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payment_date": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2019-01-01 01:10:00"
                  },
                  "comment": {
                    "type": "string",
                    "example": "Report was paid!"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/reports/{id}/pay"
                        },
                        "method": {
                          "type": "string",
                          "example": "PUT"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Reports successfully updated!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Report"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/expenses": {
      "get": {
        "tags": [
          "expenses"
        ],
        "summary": "Returns an array of expenses",
        "operationId": "Expenses_List",
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "apportionment",
                "user",
                "expense_type",
                "costs_center",
                "payment_method",
                "report",
                "gps",
                "fueling"
              ]
            },
            "description": "Flag used to return related objects, if you want to return multiple relations, you must separate them using comma. e.g.: 'expenses,user'"
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string",
              "default": "date:2021-01-01,2021-03-31;report.approval_date:2021-01-01,2021-03-31;payment_date:2021-01-01;created_at:2021-01-01;report.id:123"
            },
            "description": "Field that you can customize your filter in some columns"
          },
          {
            "in": "query",
            "name": "searchFields",
            "schema": {
              "type": "string",
              "default": "date:between;report.approval_date:between;payment_date:>=;created_at:=;report.id:="
            },
            "description": "Field that you will declare what is the comparator for the columns in the 'search' field, when using between, 2 dates separed by comma are required"
          },
          {
            "in": "query",
            "name": "searchJoin",
            "schema": {
              "type": "string",
              "default": "and"
            },
            "description": "Flag that you will say to the filter what is his connection between the fields of the filter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/expenses"
                        },
                        "method": {
                          "type": "string",
                          "example": "GET"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Expenses successfully sent!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "allOf": [
                              {
                                "$ref": "#/components/schemas/Expense"
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "apportionment": {
                                    "type": "array",
                                    "items": {
                                      "$ref": "#/components/schemas/Apportionment"
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "expenses"
        ],
        "summary": "Inserts an expense object",
        "operationId": "Expenses_Create",
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "apportionment"
              ],
              "default": "apportionment"
            },
            "description": "Flag used to return related objects"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "expense model to be inserted",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Expense_clear"
                  },
                  {
                    "required": [
                      "user_id",
                      "external_id",
                      "date",
                      "paying_company_id",
                      "value",
                      "title"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/expenses"
                        },
                        "method": {
                          "type": "string",
                          "example": "POST"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Expenses successfully created!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "allOf": [
                              {
                                "$ref": "#/components/schemas/Expense"
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "apportionment": {
                                    "type": "array",
                                    "items": {
                                      "$ref": "#/components/schemas/Apportionment"
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/expenses/{id}": {
      "get": {
        "tags": [
          "expenses"
        ],
        "summary": "Returns an expense object",
        "operationId": "Expenses_Get",
        "parameters": [
          {
            "$ref": "#/components/parameters/idExpense"
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "apportionment",
                "user",
                "expense_type",
                "costs_center",
                "payment_method",
                "report",
                "gps",
                "fueling"
              ]
            },
            "description": "Flag used to return related objects, if you want to return multiple relations, you must separate them using comma. e.g.: 'expenses,user'"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/expenses/{id}"
                        },
                        "method": {
                          "type": "string",
                          "example": "GET"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Expense successfully sent!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Expense"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "expenses"
        ],
        "summary": "Update an expense object",
        "operationId": "Expenses_Update",
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string",
              "enum": [
                "apportionment"
              ],
              "default": "apportionment"
            },
            "description": "Flag used to return related objects"
          },
          {
            "$ref": "#/components/parameters/idExpense"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "expense model to be inserted",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Expense_clear"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/expenses/{id}"
                        },
                        "method": {
                          "type": "string",
                          "example": "PUT"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Expenses successfully updated!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/Expense"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "apportionment": {
                                  "type": "array",
                                  "items": {
                                    "$ref": "#/components/schemas/Apportionment"
                                  }
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "expenses"
        ],
        "summary": "Removes a expense object",
        "operationId": "Expenses_Delete",
        "parameters": [
          {
            "$ref": "#/components/parameters/idExpense"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "type": "string",
                      "example": "https://api.vexpenses.com/v2/expenses/{id}"
                    },
                    "method": {
                      "type": "string",
                      "example": "DELETE"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Expense successfully removed!"
                    },
                    "data": {
                      "example": null,
                      "nullable": true,
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/expenses-type": {
      "get": {
        "tags": [
          "expenses type"
        ],
        "summary": "Returns an array of expense_type",
        "operationId": "ExpensesType_List",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/expenses-type"
                        },
                        "method": {
                          "type": "string",
                          "example": "GET"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Expenses types successfully sent!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Expense_type"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "expenses type"
        ],
        "summary": "Inserts an expenses_type object",
        "operationId": "ExpensesType_Create",
        "requestBody": {
          "required": true,
          "description": "expenses_type model to be inserted",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Expense_type_post"
                  },
                  {
                    "required": [
                      "description"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "string",
                          "example": "https://api.vexpenses.com/v2/expenses-type"
                        },
                        "method": {
                          "type": "string",
                          "example": "POST"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "Expenses types successfully created!"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Expense_type"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized"
          }
        }
      }
    },
    "/v2/expenses-type/{id}": {
      "get": {
        "tags": [
          "expenses type"
        ],
        "summary": "Returns an expenses_type object",
        "operationId": "ExpensesType_Get",
        "parameters": [
          {
            "$ref": "#/components/parameters/idExpenseType"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
[...]
